{
  "presets": [
    [
      "@babel/preset-typescript",
      {
        "useBuiltIns": "entry",
        "targets": "> 0.25%, not dead",
        "corejs": "3.6.4"
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-regenerator"]
}
